html
    head
        title Koa Vote - #{title}
        block scripts
        block styles
            link(rel='stylesheet', href='./bootstrap.min.css')
    body
        block title
        block content
